<button id="js-itemBackBtn" class="backBtn fixedCtrlBtn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
<div class="myself">
	<h1>Anton Klevansky</h1>
	<div class="image"></div>
	<h2>Professional conference interpreter working worldwide<br>for international organizations and private businesses</h2>
	<span class="client">EU Commission</span><span class="client">EU Parliament</span><span class="client">Council of Europe</span><span class="client">International Trade Unions</span><span class="client">FAO</span><span class="client">WCO</span>
	<div class="language">
		Native speaker of Russian and Belarusian.
		Working between:
		<div class="combination">Russian / Belarusian ⇔ English</div>
		<div class="combination">Russian / Belarusian ⇔ French</div>
		<div class="combination">Polish / Spanish / Ukrainian ⇒ Russian / Belarusian</div>
	</div>
	<div class="aiic">Full member of the International Association of Conference Interpreters (<a href="http://aiic.net/a.klevansky">AIIC</a>)</div>
</div>